/*overriding default styles made by the browser*/
{    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    padding: 0;
    background-color: rgb(19, 138, 53);
    box-sizing: border-box;
}

/* Main content*/
main {
    padding: 0;
    background-color: rgb(253, 250, 249);
    box-sizing: border-box;
}

/*Footer content*/
footer {
    padding: 0;
    background-color: rgb(19, 138, 53);
    box-sizing: border-box;
}
