/*Imported style Google Fonts*/
    body {     
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
}

/*Asterisk wildcard selector to override default styles added by the browser*/
* { 
        padding: 0px;
        margin: 0;

}

/* General styles */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:#3a3a3a;
        margin: 0;
}

    h1, h2, h3 {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #252525;
}

/* Header */
    header {
        background-color: green;
        padding: 10px;
        position:fixed;
        z-index: 99;
        width: 100%;
        box-shadow: 0 2px 2px #3a3a3a;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
}
    header a{
        text-decoration: none;
        color: inherit;
}

    #menu {
        font-size: 110%;
        letter-spacing: 4px;
        list-style-type: none;
}

    #menu > li {
        margin-bottom: 1em;
}

    .active {
        border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
    nav {
        position: absolute;
        background-color:rgb(243, 238, 237);
        width: 100%;
        left: 0;
        padding: 0 1rem;
        box-shadow: 0 2px 2px #3a3a3a;
        display: none;
        top: 100%;
}

/* Nav toggle */
    #nav-toggle:checked~nav {
        display: block;
}
    #nav-toggle:checked~nav{
        display: none;
}

    .nav-toggle-label {
        font-size: 2rem;
}

/* Main content*/
    main {
/*make main element take up any surplus space to push footer down*/
        box-sizing: border-box;
        flex: 1 0 auto;
        margin-top: 47px;
}


/* Hero area and cover text*/

    #cover-text, #cover-text h2, #cover-text h3 {
        color: #252525;
    }

    #hero-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;

        position: relative;
}

    #hero-image {
        height: 600px;
        width: 100%;
        background: url("../images/anxietybuddy1.jpg") no-repeat center center/cover;
        position: relative;
}

/* Creates the level of zoom for the hero image*/
    @keyframes hero-zoom {
        from { transform: scale(1);
}
        to { transform: scale(1.1);
}
}

/* Final rgba value sets the opacity so it is semi-transparent */
    #cover-text {
        font-size: 130%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;

        width: 300px;
        height: 200px;

        padding-top: 40px;
        padding-left: 10px;

        background-color: rgba(243, 238, 237, .7);
        
        bottom: 30px;
        right: 150px;

        position: absolute;
       
        
}

    #cover-text > h2, #cover-text > h3 {
        color: #252525;
}


/* Footer */
    #social-networks{
        text-align: center;
        padding: 20px 0;
        display:flex;
        justify-content: space-evenly;
}

    #social-networks i {
        font-size: 160%;
        padding: 5%;
        color: #3a3a3a;
}

/* media query: tablets and larger (768px and up)*/
    @media screen and (min-width: 768px) 
{
    
/* Header */
    nav {
       display: block;
       position: relative;
       box-shadow: none;
       width: fit-content;
       padding-right: 1rem;
    }
    

    #menu {
        display: flex;
}

    #menu > li{
        padding-left: 1rem;
}

    .nav-toggle-label{
        display: none;
}

    #logo{
        font-size: 280%;
        line-height: 75px;
        margin-left: 30px;
}

/* main content */
    main{
/* Push main content down to accomodate larger header */
        margin-top: 79px;
}
/* Hero */
#cover-text {
    width: 300px;
    right: 50px;
}
}

/* Large devices (Laptops and desktops, 992px and up) */
    @media screen and (min-width:992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
}
}

/* anxiety club */

    #anxiety-club {
        height: 600px;
    }

    #left-about {
        padding-top: 30px;
        width: 33%;
        float: left;
        background-color: blue;
    }

    #right-about {
        padding-top: 30px;
        width: 33%;
        float: right;
        background-color: silver;
    }

    #center-about {
        width: 33%;
        margin: 0 auto;
        background-color: red;
    }